body {
            margin: 0;
            padding: 0 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f0f0f0;
        }

        .bordered-div {
            height: 654px;
            width: calc(100% - 20px);
            border: 2px solid #efefef;
            outline: 10px solid black;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            position: relative;
        }

        .first-row {
            height: 90px;
            background-color: #64A8FF;
        }

        .second-row {
            height: 80px;
            display: flex;
        }

        .second-row div {
            flex: 1;
        }

        .second-row .red {
            background-color: #E87A44;
        }

        .second-row .brown {
            background-color: #784100;
        }

        .second-row .pink {
            background-color: #FF7498;
        }

        .second-row .blue {
            background-color: #5B5AB2;
        }

        .third-row {
            display: flex;
            height: 360px;
            position: relative;
        }

        .third-row div {
            height: 100%;
            position: relative;
        }

        .third-row .purple {
            width: 12.5%;
            background-color: #CD94E2;
        }

        .third-row .black {
            width: 75%;
            background-color: #121212;
            position: relative;
        }

        .third-row .grey {
            width: 12.5%;
            background-color: #41474A;
        }

        .center-box {
            width: 120px;
            height: 120px;
            background-color: #806800;
            border: 2px solid #EEEEEE;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .fourth-row {
            height: 100px;
            background-color: #008541;
            width: 100%;
        }